@charset "UTF8";

header{
    background-image: linear-gradient(to bottom,rgba(136, 15, 250, 0.973),rgba(255, 117, 4, 0.979));
    padding: 1px;
    margin: -10px;
    text-align: center;
    position: fixed;
    top: 0; 
    width: 105%;           
}
a{
    text-decoration: none;
    color: rgb(0, 0, 77);
    font-weight: bolder;
}
a:visited{
    color: rgb(0, 0, 77);
}
a:hover{
    color: black;
    text-decoration: underline;
}    
a:active{
    color: green;
}